
<%- include('../partials/admin-header') %>
                    
                      
                     
<!--                      
                         <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-map-marker"></i><span class="hide-menu">Maps</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="map-vector.html">Map</a></li>
                            </ul>
                        </li>  -->
                      
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>


<!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-bag f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body text-right">
                                    <h4>2780</h4>
                                    <p class="m-b-0">New Posts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-comment f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body text-right">
                                    <h4>178</h4>
                                    <p class="m-b-0">Total Expired Products</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-vector f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body text-right">
                                    <h4>#270,647</h4>
                                    <p class="m-b-0">Total Weekly Profit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-location-pin f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body text-right">
                                    <h4>278</h4>
                                    <p class="m-b-0">Total Site Visitor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              

<%- include('../partials/admin-footer') %>