

<%- include('partials/header') %>

  <!-- inner-banner -->
<!-- <section class="inner-banner" id="home">
	<div class="inner-layer">
	<img class="my-images" src="./assets/image/img-2.jpg">
		<div class="container">
		</div>
	</div>
</section> -->
<!-- //inner-banner End -->


  <!-- ======= Hero inner Section ======= -->
  <section id="hero-inner" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
         
             <h1> Watch Messages</h1>
              <!--
          <h2></h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#clients" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div> -->
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


      <!-- ======= more link Section ======= -->
      <section id="clients" class="clients section-bg">
        <div class="container-fluid">
          <div class="row bg-gray wow sliderInDown">
          <div class="row" data-aos="zoom-in">
            <div class= "col-md-4"><div class="icon-text"><i class="fa fa-globe" aria-hidden="true"></i><a class="text-danger" href="#">Shekina World International Christian Center</a></div> </div>
            <div class= "col-md-4 bg-danger "><div class="icon-text"><i class="fa fa-star" aria-hidden="true"></i><a  class="text-white" href="#">Operation Depopulate Hell (ODH)</a></div> </div>
            <div class= "col-md-4"><div class="icon-text"><i class="fa fa-book" aria-hidden="true"></i><a class="text-danger" href="#"> Visit Sam Agbamuche Faith Library</a></div> </div>
    
  
          </div>
        </div>
        </div>
      </section><!-- End  Section -->



<!-- type writer for tight and offering -->
<h1 class="h1-txt wow fadeInLeft ml-lg-3 ml-sm-2">Please follow the Link To Pay:<span class="txt-type" data-wait="3000" data-words='["Tight", "Offering"]' > </span> <br>
    <a class="btn btn-sm bg-danger text-light  mt-3 wow slideInLeft">Pay Here </a>
    </h1>
  


<div class="container-fluid">
    <div class="row mt-3">
<!-- video embed -->
<div id="link" class="text-info text-center"><h2>All Messages</h2></div>
<div class="col-lg-6 col-sm-12 glightbox">

<iframe
width="450"
height="312"
src="https://www.youtube.com/embed/sUmM_PFpsvQ"
title="YouTube video player"
frameborder="10"
allow="accelerometer; fullscreen; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
></iframe>
</div>

<div class="col-lg-6 col-sm-12 glightbox">
    <!-- <div id="link">Messages</div> -->
    <iframe
    width="450"
    height="312"
    src="https://www.youtube.com/embed/sUmM_PFpsvQ"
    title="YouTube video player"
    frameborder="10"
    allow="accelerometer; fullscreen; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    ></iframe>
    </div>

</div>
</div>


<!-- 
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <iframe width="400" height="300" frameborder="0" allowfullscreen="true" src="https://www.youtube.com/embed/jizrQFj9tE0"></iframe>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/jizrQFj9tE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
            <!-- </div>
        </div>
    </div> -->
<!-- </div> -->






  <!-- ======= Footer ======= -->
  <!-- <footer id="footer"> -->

    <!-- <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div> -->
<!-- footer -->


<%- include('partials/footer') %>